.home-heading {
    color: white;
}

.home-button {
    padding: 15px;
    border-radius: 10px;
    background-color:#e08d3c;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.list {
    color:white;
    font-size: large;
    padding: 8px;
}